<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/public/stylesheets/aboutUs.css">
</head>
<body>
    <div>
        <button role="button" class="golden-button">
            <span class="golden-text" onclick="history.back()">back</span>
          </button>
    </div>
    <div id="fly-in">  
        <div><span>Trading</span>Sight</div>
        <div>Find Your Trading Sight<span>With Us</span></div>
        <div>이성준 김태원</div>
        <div>이주원 이도윤</div>
        <div><span>We</span>Used</div>
        <div> EJS Python JavaScript CSS</div>
        <div><span>Thank</span>You</div>
    </div>

</body>
</html>