<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TradingSight</title>
    <link rel="stylesheet" href="/public/stylesheets/mainStyles.css?after">
</head>

<body>
    <div class="container1">
        <div class="container2">

            <div class="header">Insert your Stock</div>
            <form action="/search" method="post">
                <input class="input" type="text" id="stock_name" name="stock_name" required placeholder="stock">
            </form>
        </div>
    </div>
</body>

</html>