<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MongoDB 테스트</title>
</head>

<body>
    <h1>주식이름 입력</h1>
    <form action="/search" method="post">
        <input type="text" id="stock_name" name="stock_name" required>
    </form>
</body>

</html>