<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TradingSight</title>
    <link rel="stylesheet" href="/public/stylesheets/mainStyles.css?after">
</head>

<body>
    <% if (loggedIn) { %>
        <form action="/user/myPage" method="post">
            <div class="loginarea">
                <button type="submit" class="signupbutton">My page</button>
            </div>
        </form>
        <form action="/user/logout" method="post">
            <div class="loginarea">
                <button type="submit" class="signupbutton">Logout</button>
            </div>
        </form>
        <% } else { %>
            <!-- 로그인이 되어있지 않을 때 보여질 버튼 -->
            <form action="/user/signIn" method="post">
                <div class="loginarea">
                    <button type="submit" class="signinbutton">Sign In</button>
                </div>
            </form>
            <form action="/user/signUp" method="post">
                <div class="loginarea">
                    <button type="submit" class="signupbutton">Sign Up</button>
                </div>
            </form>
            <% } %>
                <div class="container1">
                    <div class="container2">

                        <div class="header">Insert your Stock</div>
                        <form action="/search" method="post">
                            <input class="input" type="text" id="stock_name" name="stock_name" required
                                placeholder="stock">
                        </form>
                    </div>
                </div>
</body>

</html>