<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
    <link rel="stylesheet" href="../public/stylesheets/myPageStyles.css">
</head>

<body>
    <% if (message) { %>
        <script>
            alert('<%= message %>'); // 서버에서 전달된 메시지를 경고창으로 표시
        </script>
        <% } %>

            <div class="card">
                <div class="card2">
                    <div class="form">
                        <p id="heading">My Page</p>
                        <label for="userId">
                            <p class="text-inline">사용자아이디 : </p>
                            <p class="text-inline">
                                <%= userId %>
                            </p>
                        </label>

                        <div class="btn">

                            <form action="/user/myPage/updateUser" method="post">
                                <button class="button1" type="submit">비밀번호 변경</button>
                            </form>

                            <form id="deleteUserForm" action="/user/myPage/deleteUser" method="post"
                                onsubmit="return confirmDelete()">
                                <button class="button3" type="submit" id="deleteAccountButton">회원탈퇴</button>
                            </form>

                            <form id="userFavorite" action="/user/myPage/favorite" method="post">
                                <button class="button3" type="submit" id="userFavoriteButton">관심종목</button>
                            </form>
                            <button class="button3" onclick="history.back()">뒤로가기</button>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                function confirmDelete() {
                    return confirm("정말로 회원탈퇴를 하시겠습니까?");
                }
            </script>
</body>

</html>