<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myPage</title>
</head>

<body>
    <div>myPage</div>
    <label for="userId">사용자 ID</label>
    <div class="userIdarea">
        <p>
            <%= userId %>
        </p>
    </div>
</body>

<style>
    .userIdarea {
        background-color: bisque;
    }
</style>

</html>