<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signIn</title>
    <link rel="stylesheet" href="/public/stylesheets/sign.css">
</head>

<body>
    <div class="container">
        <div>로그인 페이지</div>
        <!-- 서버에서 전달된 메시지가 있다면 경고창을 표시 -->
        <% if (message) { %>
            <script>
                alert('<%= message %>'); // 서버에서 전달된 메시지를 경고창으로 표시
            </script>
            <% } %>

                <form action="/user/signIn/signInLogic" method="post">
                    <div class="input-container">
                        <div class="input-content">
                            <div class="input-dist">
                                <div class="input-type">
                                    <input class="input-is userId" type="text" id="userId" name="userId"
                                        placeholder="ID">
                                    <input class="input-is userPassword" type="password" id="userPassword"
                                        name="userPassword" placeholder="Password">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="submit-button" type="submit">sign In</button>
                </form>
    </div>
</body>

</html>