.body,
html {
    background-color: black;
    color: white;
}

.header {
    font-size: 84px;
    font-weight: bolder;
    padding-bottom: 20px;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
}

.container1 {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 {
    text-align: center;
}

.input {
    width: 800px;
    height: 60px;
    font-size: 30px;
    padding: 15px;
    outline: none;
    border: double 0;
    border-radius: 50px;
    position: center;
    box-sizing: border-box;
    display: block;
}

.a1 {
    background: linear-gradient(330.28deg,
            #ff6e1d 100%,
            #ff6e1d 100%,
            #ff6e1d 100%);
}

.a1>input {
    color: #caab98;
}

.a1>input::placeholder {
    color: #ff6e1d;
    opacity: 0.6;
}

.inp-border:focus-within {
    background: linear-gradient(330.28deg,
            #2cfff2 0%,
            #1e78ff 30.73%,
            #ff54a6 55.73%,
            #ff6e1d 79.17%,
            #ff3e3e 100%);
}

.inp-border:hover {
    background: linear-gradient(330.28deg,
            #2cfff2 0%,
            #1e78ff 30.73%,
            #ff54a6 55.73%,
            #ff6e1d 79.17%,
            #ff3e3e 100%);
}

.loginarea {
    text-align: right;
    padding: 5px;
}

.btn {
    --color: #00A97F;
    --color2: rgb(10, 25, 30);
    padding: 0.8em 1.75em;
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    color: var(--color);
}

.btn::after,
.btn::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
}

.btn::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.btn:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.btn:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
}

.btn:hover {
    color: var(--color2);
}

.btn:active {
    filter: brightness(.7);
    transform: scale(.98);
}

.mainbuttons {
    display: flex;
    flex-direction: row;
    /* 요소들을 수평으로 쌓음 */
    justify-content: flex-end;
    /* 오른쪽으로 정렬 */
    align-items: center;
    /* 요소들을 수직 가운데 정렬 */
}

.modal {
    display: none;
    /* 초기에는 모달을 숨김 */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    /* 배경은 반투명한 검정색 */
}

.modal-content {
    background-color: #fefefe;
    /* 모달 내용의 배경색 */
    margin: 15% auto;
    /* 화면 중앙에 위치하도록 설정 */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* 모달 창의 너비 */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: modalopen;
    animation-duration: 0.4s;
}

@keyframes modalopen {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.center {
    padding-bottom: 10px;
}

.popup-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    /* 흰색 글자색 */
    font-size: 16px;
    text-decoration: none;
    /* 텍스트 밑줄 스타일 */
    font-weight: bold;
    /* 글자 굵기 */
    padding: 10px;
    /* 여백 없애기 */
}

.popup-button:hover {
    text-decoration: underline;
    /* 호버 시 밑줄 없애기 */
}

.modal-content {
    color: black;
    border-radius: 20px;
    width: 1000px;
}